{% extends 'app/base.html' %}
{% load static %}
{%block title %} Home{% endblock title %}

{%block banner-slider%}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'app/images/banner/banner1.jpg' %}" width="800" height="600"class="d-block w-100" alt="banner image">
      </div>
      <div class="carousel-item active">
        <img src="{% static 'app/images/banner/banner2.jpg' %}" width="800" height="600"class="d-block w-100" alt="banner image">
      </div>
      <div class="carousel-item active">
        <img src="{% static 'app/images/banner/banner3.jpg' %}" width="800" height="600"class="d-block w-100" alt="banner image">
      </div>
      <div class="carousel-item active">
        <img src="{% static 'app/images/banner/banner2.jpg' %}" width="800" height="600"class="d-block w-100" alt="banner image">
      </div>

    </div>
  </div>
{% endblock banner-slider%}
{% block information %}
<div class="container">
    <div class ="row bg-success text-center p-5 text-white border-bottom shadow">
        <h1>Products</h1>
        <small class="fs-5">In this summer a lot of new products are designed for us. This is our oportuinity to get something and use it whatever do you want.</small>

</div>
{% endblock information%}


{% block main-content %}
  <div class="container">
    <h2 class="text-center">Dairy products</h2>
    <br><br>
    <div class ="row container">
      <div class ="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name:none;">
        <div class="goodnesssec buttermilk curdbgpro">
          <a href="{% url 'category' 'TS' %}">
            <div class ="goodnessseccont text-center">
              <img src="{% static 'app/images/product/polo1.png' %}" width="300" height="300" class="img-responsive center-block" alt="">
              <p class ="mlkpro">T-SHIRTS</p>
            </div>
          </a>
        </div>
      </div>

      <div class ="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name:none;">
        <div class="goodnesssec buttermilk curdbgpro">
          <a href="{% url 'category' 'JE' %}">
            <div class ="goodnessseccont text-center">
              <img src="{% static 'app/images/product/jean2.png' %}"width="300" height="300" class="img-responsive center-block" alt="">
              <p class ="mlkpro">JEANS</p>
            </div>
          </a>
        </div>
      </div>

      <div class ="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s; animation-name:none;">
        <div class="goodnesssec buttermilk curdbgpro">
          <a href="{% url 'category' 'CA' %}">
            <div class ="goodnessseccont text-center">
              <img src="{% static 'app/images/product/cap2.png' %}" width="300" height="300" class="img-responsive center-block" alt="">
              <p class ="mlkpro">CAPS</p>
            </div>
          </a>
        </div>
      </div>

    </div>
  </br></br>
{% endblock main-content %}

